<h1>{{title}}</h1>
<h4>Поиск по совпадениям</h4>
<input type="text" [(ngModel)] = 'filter'>
<h4>Поиск больше /меньше по возрасту</h4>
<input type="text" [(ngModel)] = 'minMax'>
<p>{{minMax}}</p>
<table [cellSpacing]="5">
  <thead>
    <th>Id</th>
    <th>Name</th>
    <th>Age</th>
    <th>Data of registered</th>
    <th>Admin</th>
  </thead>
  <tbody *ngFor="let user of users | myFilter: filter : minMax" >
    <td appHoverEffect>{{user.id}}</td>
    <td appHoverEffect>{{user.name}}</td>
    <td appHoverEffect>{{user.age}}</td>
    <td appHoverEffect>{{user.registeredData | date:'mediumDate'}}</td>
    <td appHoverEffect>{{user.admin}}</td>
  </tbody>
</table>